.DS_Store
__pycache__/
*/*.sqlite # Ignores all .sqlite files in subdirectories
*/*.db # Ignores all .db files in subdirectories
*/*.csv # Ignores all .csv files in subdirectories
image_annotation/images/
*.save
*/venv/ # Ignores venv/ in any subdirectory
md
md/
*.pyc
